// add mixins
@import 'base/_mixins';

// add variables
@import 'base/_vars';

// add fonts
@import 'base/_fonts';


input,
button,
textarea {
  font-family: $fontFamily, sans-serif;
  font-size: inherit;
}

** {
  @include x-placeholder {
    color: $colorTextPlaceholder;
  }
}

body {
  line-height: 1.2;

  font-family: $fontFamily, Arial, Verdana, Helvetica, sans-serif;
  font-size: $fontSize;
  color: $color;
}

a {

  @media (any-hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.ag-format-container {
  width: $containerWidthDesktop + px;
  margin: 0 auto;
}

// add blocks
@import '../pages/common/header/header';

@import '../pages/common/menu/menu';

@import '../pages/other/main';

@import '../pages/common/footer/footer';
// /add blocks


@media only screen and (max-width: ($maxWidthMobile - 1) + px) {
  .ag-format-container {
    width: 90%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-format-container {
    width: 86%;
  }

}

@media only screen and (max-width: 479px) {


}

@media (min-width: $maxWidthMobile + px) and (max-width: $maxWidthTable + px) {
  .ag-format-container {
    width: ($maxWidthMobile - 20) + px;
  }

}

@media (min-width: ($maxWidthTable - 1) + px) and (max-width: ($containerWidthDesktop - 1 ) + px) {
  .ag-format-container {
    width: ($maxWidthTable - 20) + px;
  }

}