.svg-icons {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.svg-arrow-6x3 {
    width: calc(8 / 5) * 1em;
}
.svg-arrow-8x4 {
    width: calc(10 / 6) * 1em;
}
.svg-clock {
    width: calc(16 / 16) * 1em;
}
.svg-filter {
    width: calc(14 / 14) * 1em;
}
.svg-google {
    width: calc(18 / 18) * 1em;
}
.svg-grid-16 {
    width: calc(16 / 16) * 1em;
}
.svg-grid-4 {
    width: calc(16 / 16) * 1em;
}
.svg-grid-9 {
    width: calc(16 / 16) * 1em;
}
.svg-login {
    width: calc(14 / 16) * 1em;
}
.svg-message {
    width: calc(16 / 16) * 1em;
}
.svg-points {
    width: calc(16 / 4) * 1em;
}
.svg-search {
    width: calc(18 / 18) * 1em;
}
.svg-star {
    width: calc(16 / 15) * 1em;
}
