// add mixins
@import '../base/_mixins';

// add variables
@import '../base/_vars';

@include font(#{$fontFamily}, #{$fontFamily}-Bold, bold);
@include font(#{$fontFamily}, #{$fontFamily}-Medium, 500);
@include font(#{$fontFamily}, #{$fontFamily}-Regular);
@include font(#{$fontFamily}, #{$fontFamily}-SemiBold, 600);