/*
// add mixins
@import '../base/_mixins';

// add variables
@import '../base/_vars';
*/

.ag-format-container {
  width: $containerWidthDesktop + px;
  margin: 0 auto;
}

@media only screen and (max-width: ($maxWidthMobile - 1) + px) {
  .ag-format-container {
    width: 90%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-format-container {
    width: 86%;
  }

}

@media only screen and (max-width: 479px) {


}

@media (min-width: $maxWidthMobile + px) and (max-width: $maxWidthTable + px) {
  .ag-format-container {
    width: ($maxWidthMobile - 20) + px;
  }

}

@media (min-width: ($maxWidthTable - 1) + px) and (max-width: ($containerWidthDesktop - 1 ) + px) {
  .ag-format-container {
    width: ($maxWidthTable - 20) + px;
  }

}