/* body */
$fontFamily: Poppins;
$fontSize: 14px;
$color: #000;
/* /body */

/* breakpoint */
$maxWidthMobile: 768;
$maxWidthTable: 980;
$containerWidthDesktop: 1181;
/* /breakpoint */

$colorTextPlaceholder: #5A5858;

$heightBtn: 50px;
$widthBtn: 250px;
$alignBtn: 0;
$bgBtn: #E4285B;
$weightBtn: 700;
$sizeBtn: 18px;
$colorBtn: #FFF;

$bgBtnHover: #F82B60;
$colorBtnHover: #FFF;