.ag-note__about {
  display: flex;

  font-size: 20px;
  color: blue;
}


@media only screen and (max-width: 767px) {
  .ag-note__about {
    font-size: 14px;
  }

}
@media only screen and (max-width: 639px) {
  .ag-note__about {
    font-size: 17px;
  }

}
@media (min-width: 768px) and (max-width: 980px) {
  .ag-note__about {
    font-size: 18px;
  }

}
@media (min-width: 979px) and (max-width: 1180px) {
  .ag-note__about {
    font-size: 10px;
  }

}