// add mixins
@import 'base/mixins';

// add variables
@import 'base/common';

// add fonts
@import 'base/fonts';


input,
button,
textarea {
  font-family: $fontFamily, sans-serif;
  font-size: inherit;
}

** {
  @include x-placeholder {
    color: $colorTextPlaceholder;
  }
}

body {
  font-family: $fontFamily, sans-serif;
  font-size: $fontSize;
  color: $color;
}

a {

  @media (any-hover: hover) {
    &:hover {
    }
  }
}

.ag-format-container {
  width: $containerWidthDesktop + px;
  margin: 0 auto;
}

// add blocks
@import 'common/header';

@import 'common/menu';

@import 'page-blocks/about/main';

@import 'common/footer';
// /add blocks


@media only screen and (max-width: ($maxWidthMobile - 1) + px) {
  .ag-format-container {
    width: 90%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-format-container {
    width: 86%;
  }

}

@media only screen and (max-width: 479px) {


}

@media (min-width: $maxWidthMobile + px) and (max-width: $maxWidthTable + px) {
  .ag-format-container {
    width: ($maxWidthMobile - 20) + px;
  }

}

@media (min-width: ($maxWidthTable - 1) + px) and (max-width: ($containerWidthDesktop - 1 ) + px) {
  .ag-format-container {
    width: ($maxWidthTable - 20) + px;
  }

}